
h1{
background-color:rgba(155, 155, 155, 0.562);
font-size: 55px;
text-align: center;
text-decoration: underline;
}

h2{
    font-size: 30px;
    background-color: rgba(155, 155, 155, 0.562);
}

p{
    font-size: 19px;
}

footer{
    background-color: rgb(233, 233, 233);
    text-align: center;
    color: rgb(0, 0, 0);
}
